/*---------------------------------------------------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2.4.0                                 |
|   \\  /    A nd           | Web:      www.OpenFOAM.org                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
Build  : 2.4.0-dcea1e13ff76
Exec   : sample
Date   : Feb 04 2021
Time   : 05:06:20
Host   : "spartan-bm117.hpc.unimelb.edu.au"
PID    : 139363
Case   : /data/gpfs/projects/punim0950/Periodic_hills/training_RS_PK_MO_UK_6P/running_pfac150_pop100_seed0/run_11778/PH_2D_RANS_kOmegaSSTx
nProcs : 1
sigFpe : Enabling floating point exception trapping (FOAM_SIGFPE).
fileModificationChecking : Monitoring run-time modified files using timeStampMaster
allowSystemOperations : Allowing user-supplied system call operations

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 0

Reading set description:
    X0H
    X1H
    X2H
    X4H
    X6H
    X8H

Time = 0

Time = 8247

End

